<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.push.mymodularizationforone">

    <!--android:name=".activity.MainApplication"-->

    <application>
        <activity android:name=".activity.CustomEdittextActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>